@model  AzureStorageCalculator.ViewModels.Home.CalculateResult
@{
    ViewBag.Title = "Calculate";
}

<h2>Results</h2>

<h3>Assumptions</h3>
<dl class="dl-horizontal">
    <dt>Starting TB</dt>
    <dd>@Model.Args.StartingStorage.ToString("N0")</dd>
    <dt>New TBs (per month)</dt>
    <dd>@Model.Args.MonthlyGrowthStorage.ToString("N0")</dd>
    <dt>% of stored Retrieval Monthly</dt>
    <dd>@Model.Args.PctStorageRetrieval.ToString("P")</dd>
    <dt># of main transactions per month (per 10,000)</dt>
    <dd>@Model.Args.MainTransactions.ToString("N0")</dd>
    <dt># of other transactions per month (per 10,000)</dt>
    <dd>@Model.Args.OtherTransactions.ToString("N0")</dd>
    <dt># of months to project</dt>
    <dd>@Model.Args.MonthsToProject.ToString("N0")</dd>
</dl>


<h3>Summary</h3>
<table class="table-condensed table-bordered table-striped table-numbers">
    <thead>
        <tr>
            <th></th>
            <th>Total GB</th>
            <th>Total Price</th>
            <th>Average Price Per GB</th>
            <th>Average Price Per TB</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Summary.OrderBy(x => x.StorageRedundancy).ThenBy(x => x.StorageTemperature))
        {
            <tr>
                <th>@item.StorageRedundancy.Humanize().Transform(To.TitleCase) @item.StorageTemperature</th>
                <td>@item.TotalGB.ToString("N0")</td>
                <td>@item.TotalPrice.ToString("N2")</td>
                <td>@item.AveragePricePerGB.ToString("N4")</td>
                <td>@item.AveragePricePerTB.ToString("N2")</td>
            </tr>
        }
    </tbody>
</table>

<h3>Details</h3>


<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#LRSC" aria-controls="LRSC" role="tab" data-toggle="tab">LRS Cool</a></li>
        <li role="presentation"><a href="#LRSH" aria-controls="profile" role="tab" data-toggle="tab">LRS Hot</a></li>
        <li role="presentation"><a href="#GRSC" aria-controls="profile" role="tab" data-toggle="tab">GRS Cool</a></li>
        <li role="presentation"><a href="#GRSH" aria-controls="profile" role="tab" data-toggle="tab">GRS Hot</a></li>
        <li role="presentation"><a href="#RAGRSC" aria-controls="profile" role="tab" data-toggle="tab">RA-GRS Cool</a></li>
        <li role="presentation"><a href="#RAGRSH" aria-controls="profile" role="tab" data-toggle="tab">RA-GRS Hot</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active fade in" id="LRSC">
            <h4>Locally Redundant Cool</h4>
            @Html.Partial("CalculateDetail", Model.LocallyRedundantCool)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="LRSH">
            <h4>Locally Redundant Hot</h4>
            @Html.Partial("CalculateDetail", Model.LocallyRedundantHot)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="GRSC">
            <h4>Geographically Redundant Cool</h4>
            @Html.Partial("CalculateDetail", Model.GeographicallyRedundantCool)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="GRSH">
            <h4>Geographically Redundant Hot</h4>
            @Html.Partial("CalculateDetail", Model.GeographicallyRedundantHot)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="RAGRSC">
            <h4>Read Access Geographically Redundant Cool</h4>
            @Html.Partial("CalculateDetail", Model.ReadAccessGeographicallyRedundantCool)
        </div>
        <div role="tabpanel" class="tab-pane fade" id="RAGRSH">
            <h4>Read Access Geographically Redundant Hot</h4>
            @Html.Partial("CalculateDetail", Model.ReadAccessGeographicallyRedundantHot)
        </div>
    </div>
</div>